*.user

SDKs

build
build-ios

cmake-build-debug
cmake-build-release
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store
*.entitlements
*.cpb
Makefile

workspace.xml
xcuserdata

node_modules
package-lock.json
dist

# Environment variables
.env.local
.env*.local
.env

# Supabase local development
.supabase